
/*로그인 실패 메세지*/
.login_verify_message {display:none;color:#cc5500!important; font-size:28px; text-align:left; margin-bottom:60px; padding:15px; line-height:140%; background:#000; border-radius: 30px;}

color:#DD2C00; display:block; font-size:24px; line-height:160%; text-align:center; margin-bottom:15px;
/*중복아이디 체크 .. 사용가능*/
.uid_available {background:#ca4432 !important}

/*회원가입페이지 우측 메세지 */
.join_box > dl  dd.inputdata_verify_message{position:absolute; top:10px; right:150px; width:244px; color:#d37168; height:auto;}

.outputdata_verify_message {width:660px; color:#d37168; font-size:24px; line-height:160%;margin:10px 0 0 220px;}
.outputdata_verify_message strong {margin-bottom:5px; font-weight:700;}
.outputdata_verify_message .bt_accsm {display:inline-block; margin-left:15px; background:#e87928; color:#fff; font-size:13.5px; padding:0px 10px; cursor:pointer;}

.noleft{margin:10px !important}

.inputdata_verify_message {width:660px; color:#d37168; display:block; font-size:24px; line-height:160%  !important; margin:10px 0 0 220px;}





.input_inline_4{display:inline-block !important;width:66px !important; vertical-align:5px;}
.input_inline_5{display:inline-block !important;width:82px !important; vertical-align:5px;}
.input_inline_6{display:inline-block !important;width:89px !important; vertical-align:5px;}
.input_inline_8{display:inline-block !important;width:160px !important; vertical-align:5px;}


#ctl_modal_container {
  display:none;
  position: fixed;
  top: 0px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  z-index:1050;
}


.popup_box {
  position: absolute;
  top:50%;
  left:50%;
  margin:auto auto;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  outline: 0;
  overflow-x:hidden;
  overflow-y:auto;  
}


/*뒷배경 반투명*/
.wrap_modal-backdrop {
  position: fixed;
  top: 0;
  bottom:0;
  right: 0;
  left: 0;
  z-index:1040;
  background-color: #000;
	filter: alpha(opacity=50);
  opacity: .5;  
}

.container_popup_inner{margin:0px 20px 0 20px;height:100%;position:relative }
.nomargin{margin:0 !important}
#lb_map_label{color:#888}

