/* @font-face { font-family: 'nanumsquare'; src: url('../../fonts/nanumsquarer.eot'); src: url('../../fonts/nanumsquarer.eot?#iefix') format('embedded-opentype'),
 url('../../fonts/nanumsquarer.woff2') format('woff2'),
 url('../../fonts/nanumsquarer.woff') format('woff'),
 url('../../fonts/nanumsquarer.ttf') format('truetype'),
 url('../../fonts/nanumsquarer.svg#nanumsquarerregular') format('svg'); font-weight: normal; font-style: normal; } 


@font-face { font-family: 'nanumsquarerb'; src: url('../../fonts/nanumsquarerb.eot'); src: url('../../fonts/nanumsquarerb.eot?#iefix') format('embedded-opentype'),
 url('../../fonts/nanumsquarerb.woff2') format('woff2'),
 url('../../fonts/nanumsquarerb.woff') format('woff'),
 url('../../fonts/nanumsquarerb.ttf') format('truetype'),
 url('../../fonts/nanumsquarerb.svg#nanumsquarerregular') format('svg'); font-weight: 700; font-style: normal; } 


@font-face { font-family: 'NotoSans'; font-style: lighter; font-weight: 300; src: url(../../fonts/notokr-light.eot); src: url(../../fonts/notokr-light.eot?#iefix) format('embedded-opentype'),
 url(../../fonts/notokr-light.woff2) format('woff2'),
 url(../../fonts/notokr-light.woff) format('woff'),
 url(../../fonts/notokr-light.ttf) format('truetype'); } 
@font-face { font-family: 'NotoSans'; font-style: normal; font-weight: 500; src: url(../../fonts/notokr-regular.eot); src: url(../../fonts/notokr-regular.eot?#iefix) format('embedded-opentype'),
 url(../../fonts/notokr-regular.woff2) format('woff2'),
 url(../../fonts/notokr-regular.woff) format('woff'),
 url(../../fonts/notokr-regular.ttf) format('truetype'); } 
@font-face { font-family: 'NotoSans'; font-style: bold; font-weight: 700; src: url(../../fonts/notokr-medium.eot); src: url(../../fonts/notokr-medium.eot?#iefix) format('embedded-opentype'),
 url(../../fonts/notokr-medium.woff2) format('woff2'),
 url(../../fonts/notokr-medium.woff) format('woff'),
 url(.././notokr-medium.ttf) format('truetype'); } 
@font-face { font-family: 'NotoSans'; font-style: bolder; font-weight: 900; src: url(../../fonts/notokr-bold.eot); src: url(../../fonts/notokr-bold.eot?#iefix) format('embedded-opentype'),
 url(../../fonts/notokr-bold.woff2) format('woff2'),
 url(../../fonts/notokr-bold.woff) format('woff'),
 url(../../fonts/notokr-bold.ttf) format('truetype'); } */

/* reset */
html,
body {
    width: 100%;
    height: 100%;
}


/* 초기화 */
html {
    overflow: hidden
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
form,
fieldset,
p,
button,
strong,
span,
em,
iframe,
img,
textarea,
input {
    margin: 0rem;
    padding: 0rem
}

body {
    width: 100%;
    /* font-family:'NotoKrR', '나눔 고딕', NotoKrR Gothic, "맑은 고딕", Malgun Gothic, '돋움',dotum,Helvetica,sans-serif; */
    font-size: 0.8em;
    line-height: 150%;
    color: #666;
    letter-spacing: -0.0313rem;
    /* letter-spacing: 0rem; */
    text-align: left;
    word-break: break-all;
    -ms-word-break: break-all;
    background: #FFFFFF;
}

html {
    margin: 0;
    padding: 0;
    border: 0;
    background: #181d26;
    color: #aeaeae;
}

h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
img {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    color: #aeaeae;
}

h1 {
    font-size: 6.4px;
}

h2 {
    font-size: 12px;
    font-weight: 600;
}

/* 다른 화면 입력항목 TITLE 입니다. */
h3 {
    font-size: 12.8px;
    font-weight: 600;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 19.2px;
}

h6 {
    font-size: 22.4px;
}

/* 각 항목 타이틀 */
h3.title {
    /* font-size: 15.2px; */
    font-size: 1.125rem;
    font-weight: 600;
    color: #FFFFFF ! important;
    margin-bottom: .3125rem;
}


article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}


/* 20240720 modify [s] */
/* header { width: 100%; height: 3.75rem; border-bottom: .0625rem solid #0049C4; } */
header {
    width: 100%;
    height: 3.75rem;
    border-bottom: .0625rem solid #3C3C4A;
}

/* 20240720 modify [e] */

#hd ul,
nav ul,
#ft ul {
    margin: 0;
    padding: 0;
    list-style: none
}

legend {
    position: absolute;
    margin: 0;
    padding: 0;
    font-size: 0;
    line-height: 0;
    text-indent: -9999em;
    overflow: hidden
}

label,
input,
button,
select,
img {
    vertical-align: middle
}

input,
button {
    margin: 0;
    padding: 0;
    /* font-family:'NotoKrR','나눔 고딕', NotoKrR Gothic, "맑은 고딕", Malgun Gothic, '돋움',dotum,Helvetica,sans-serif; */
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-size: 1.2em;
}

button {
    cursor: pointer
}

textarea,
select {
    /* font-family:'NotoKrR','나눔 고딕', NotoKrR Gothic, "맑은 고딕", Malgun Gothic, '돋움',dotum,Helvetica,sans-serif; */
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-size: 1.2em;
}

select {
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
    position: relative;
    left: .9375rem;
    top: .3125rem;
    word-break: break-all
}

hr {
    display: none
}

pre {
    overflow-x: scroll;
    font-size: 1.1em
}

a:link,
a:visited {
    color: #000;
    text-decoration: none;
    width: 100%;
}

a:hover,
a:focus,
a:active {
    color: #000;
    text-decoration: none;
}

input {
    box-sizing: content-box !important;
}

textarea {
    box-sizing: content-box !important;
}

input::placeholder {
    opacity: 0.3;
}

textarea::placeholder {
    opacity: 0.3;
}

li {
    list-style: none;
    margin: 0rem;
    padding: 0rem;
}

.txtLef {
    text-align: left !important;
}

.txtRig {
    text-align: right !important;
}

.txtCen {
    text-align: center !important;
}

.txtJus {
    text-align: justify !important;
}

.clear {
    clear: both;
    content: '';
    display: block;
}

#totWrap {
    position: relative;
    width: 100%;
    height: 100%;
    min-width: 45rem;
    max-width: 45rem;
    margin: 0 auto;
    /* font-family:'NotoSans'; */
}

/* 20240720 modify [s] */

#allmenu {
    z-index: 100;
    position: absolute;
    top: 0rem;
    left: 0rem;
    /* width: 31.25rem; */
    background-color: #181d26;
    width: 150px;
    height: 100%;
    padding-left: 0px;
    border-right: 1px solid #2e2e2e;
}


#allmenu .al_acc {
    width: 200px;
    /* height: 5rem; */
    /* background: #313131; */
    height: 3.75rem;
    margin-left: .625rem;
    background-color: #181d26;
    /* padding: 3.75rem 2.5rem; */
}

#allmenu .al_acc dt {
    width: 5rem;
    height: 5rem;
    float: left;
    display: inline-block;
}

#allmenu .al_acc dd {
    float: left;
    display: inline-block;
    height: 5rem;
    line-height: 5rem;
    color: #fff;
    font-size: 3.125rem;
    font-weight: 700;
    width: 20rem;
    margin-left: 1.25rem;
    overflow: hidden;
}

#allmenu .al_1dul {
    padding: .625rem 0 .625rem 0;
}

/* 20240721 modify [s] */
/* #allmenu .al_1dul li ul li { height: 1.875rem; } */
#allmenu .al_1dul li ul li {
    height: 50px;
}

/* 20240721 modify [e] */


#allmenu .al_1dul li ul li:first-child {}

#allmenu .al_1dul li a {
    height: 100%;
}

#allmenu .al_1dul li ul li a {
    background: transparent;
    /* padding-right: 1.875rem; */
    font-size: 1.0em;
}

#allmenu a.st0 {
    display: block;
    height: 5rem;
    line-height: 5rem;
    padding: 0rem 2.5rem;
    color: #cb4432;
    font-size: 2.8125rem;
    background: #fff;
    font-weight: 700;
}

#allmenu a.st1 {
    display: block;
    height: 4.375rem;
    line-height: 4.375rem;
    padding: 0rem 2.5rem;
    color: #c62b27;
    font-size: 2.625rem;
    clear: both;
    background: #f0efed;
    font-weight: 700;
}

#allmenu a.st2 {
    display: block;
    height: 5.625rem;
    /* line-height:6.25rem; */
    padding: 0rem 2.5rem;
    color: #303030;
    font-size: 2.8125rem;
    background: #fff;
    font-weight: 500;
}

#allmenu a.st2.on {
    color: #cb4432;
    font-size: 2.8125rem;
    background: #fff;
    font-weight: 700;
}


/* 20240720 modify [s] */

/* nav bar active 활성화 기능 추가 : #allmenu a.st2.active */
#allmenu a.st2:hover,
#allmenu a.st2.active {
    background: #7699bd;
    border-left: .3125rem solid #baccde;
    margin-left: .3125rem;

    p {
        color: #FFFFFF ! important;
        left: .3125rem;
    }

    ;

    img {
        left: .3125rem;
    }
}

#allmenu .al_2dul li a {
    padding: 0;
}

#allmenu .al_1dul li ul li a p {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 30px;
    color: #aeaeae;
    font-size: 16px;
    font-weight: 600;
    top: 10%;
    transform: translateY(50%)
}

#allmenu a.st2>p::before {
    content: "";
    display: block;
    position: absolute;
    transition: all 0.3s ease-in-out;
    left: 0;
    width: 20px;
    height: 18px;
}

#allmenu a.st2.active>p::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 20px;
    height: 18px;
}

#allmenu a.st2>p.ico-01::before {
    background: url('./icon_028.png') no-repeat center center/ 20px 18px;
}

#allmenu a.st2.active>p.ico-01::before {
    background: url('./icon_028_wt_on.png') no-repeat center center/ 20px 18px;
}

#allmenu a.st2>p.ico-02::before {
    background: url('./icon_023.png') no-repeat center center/ 20px 18px;
}

#allmenu a.st2.active>p.ico-02::before {
    background: url('./icon_023_wt_on.png') no-repeat center center/ 20px 18px;
}

#allmenu a.st2>p.ico-03::before {
    background: url('./icon_024.png') no-repeat center center/ 20px 18px;
}

#allmenu a.st2.active>p.ico-03::before {
    background: url('./icon_024_wt_on.png') no-repeat center center/ 20px 18px;
}

#allmenu a.st2>p.ico-04::before {
    background: url('./icon_016.png') no-repeat center center/ 20px 18px;
}

#allmenu a.st2.active>p.ico-04::before {
    background: url('./icon_016_wt_on.png') no-repeat center center/ 20px 18px;
}

#allmenu a.st2>p.ico-05::before {
    background: url('./icon_020.png') no-repeat center center/ 20px 18px;
}

#allmenu a.st2.active>p.ico-05::before {
    background: url('./icon_020_wt_on.png') no-repeat center center/ 20px 18px;
}

#allmenu a.st2>p.ico-06::before {
    background: url('./icon_021.png') no-repeat center center/ 20px 18px;
}

#allmenu a.st2.active>p.ico-06::before {
    background: url('./icon_021_wt_on.png') no-repeat center center/ 20px 18px;
}

#allmenu a.st2>p.ico-07::before {
    background: url('./icon_022.png') no-repeat center center/ 20px 18px;
}

#allmenu a.st2.active>p.ico-07::before {
    background: url('./icon_022_wt_on.png') no-repeat center center/ 20px 18px;
}

/* 20240720 modify [s] */




#allmenu a.st0 img {
    margin-right: 1.25rem;
    vertical-align: -0.5rem;
}

#allmenu a.st1 img {
    margin-right: 1.25rem;
}

#allmenu a.st2 img {
    margin-right: .3125rem;
    width: 1.25rem;
    float: left;
    vertical-align: .5rem;
    top: .375rem;
    left: .9375rem;
    position: relative;
}


/* 20240720 modify [s] */
#allmenu .al_bottom {
    /* width: 31.25rem; height: 5rem; line-height: 5rem; background: #f5f5f5; */

    text-align: center;
    position: relative;
    bottom: 0;
    width: 80%;
    height: 35px;
    margin-top: 5px;
    margin-left: 7px;
    background: #222222;
    border-radius: 5px;
    border: 1px solid #444444;
}

#allmenu .al_bottom a {
    /* color: #a0a0a0; font-size: 24px; font-weight: 600; display: block; width: 40%; text-align: center; float: left; */
    width: 100%;
    font-size: 14px;
    line-height: 35px;
    color: #fff;
}


/* 20240720 modify [e] */


#allmenu .al_bottom .bar {
    display: inline-block;
    overflow: hidden;
    width: 2;
    height: 2.5rem;
    vertical-align: middle;
    margin: 0 3.125rem;
    background: url(' ../../img/join_bottom_bar.gif')no-repeat;
}

#top_menu {
    width: 100%;
    line-height: 6.875rem;
}


/* 20240720 modify[s] */
/* .top_tit { width: auto; height: 3.125rem; clear: both; padding: 1.25rem 1.875rem 0rem 1.875rem; position: relative; } */
.top_tit {
    width: auto;
    height: 3.75rem;
    clear: both;
    padding: 0 1.875rem 0rem 1.875rem;
    position: relative;
}

/* 20240720 modify[e] */



.top_tit h3 {
    font-size: 11.2px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    height: 2.1875rem;
    line-height: 2.1875rem;
}

.top_tit .top_menu_btn {
    position: absolute;
    left: 1.25rem;
    top: 1.25rem;
    width: 2.5rem;
    height: 2.5rem;
    display: inline-block;
    float: left;
}

.top_tit .top_menu_btn img {
    vertical-align: top;
}

/* 20240720 modify [s] */

/* .top_tit .top_home_btn { position: absolute; right: 1.875rem; top: 2.5rem; width: 2.5rem; height: 2.5rem; display: inline-block; float: right; } */


.top_tit .top_home_btn {
    position: absolute;
    right: 1.875rem;
    top: 0;
    width: 60px;
    height: 60px;
    display: inline-block;
}

/* 20240720 modify [e] */
.top_tit .top_home_btn img {
    vertical-align: top;
}

.top_tab {
    position: relative;
    width: 45rem;
    overflow: hidden;
    background: #2b2b2b;
}

.top_tab ul::after {
    clear: both;
    content: "";
    display: block;
}

.top_tab>ul {
    overflow: hidden;
    padding: 0rem;
    margin: 0rem;
    zoom: 1;
    width: 45rem;
    display: table;
}

.top_tab>ul>li {
    display: table-cell;
    height: 5.625rem;
    line-height: 5.3125rem;
    font-size: 2.625rem;
    font-weight: 700;
    text-align: center;
    float: left;
}

.top_tab>ul>li.on a {
    color: #fff;
    border-bottom: .3125rem solid #c62b27;
    vertical-align: top;
}

.top_tab>ul>li a {
    display: block;
    color: #707070;
    border-bottom: .3125rem solid #3c3c3c;
}


.h10 {
    display: block;
    border: none;
    color: #fff;
    height: .625rem;
    margin: 0rem;
    padding: 0rem;
    font-size: 0rem;
}

.h15 {
    display: block;
    border: none;
    color: #fff;
    height: .9375rem;
    margin: 0rem;
    padding: 0rem;
    font-size: 0rem;
}

.h20 {
    display: block;
    border: none;
    color: #fff;
    height: 1.25rem;
    margin: 0rem;
    padding: 0rem;
    font-size: 0rem;
}

.h30 {
    display: block;
    border: none;
    color: #fff;
    height: 1.875rem;
    margin: 0rem;
    padding: 0rem;
    font-size: 0rem;
}

.h65 {
    display: block;
    border: none;
    color: #fff;
    height: 4.0625rem;
    margin: 0rem;
    padding: 0rem;
    font-size: 0rem;
}

.pb30 {
    padding-bottom: 1.875rem;
}

.pg_wrap {
    position: relative;
    clear: both;
    margin: 0 0 1.25rem;
    padding: 1.25rem 0 0;
    text-align: center;
    font-size: 2.375rem;
    width: 45rem;
}

.pg_page,
.pg_current {
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    color: #959595 !important;
    line-height: 2.25rem;
    box-sizing: border-box;
    border: .0625rem solid #fff;
    vertical-align: middle;
    border-radius: 3.125rem !important;
    -webkit-border-radius: 3.125rem !important;
    -moz-border-radius: 3.125rem !important;
}

.pg_page {
    text-decoration: none;
}

.pg_start {
    font-size: 0;
    background: url('../../img/pg_start.png') .3125rem center no-repeat;
}

.pg_prev {
    font-size: 0;
    background: url('../../img/pg_prev.png') .5625rem center no-repeat;
}

.pg_end {
    font-size: 0;
    background: url('../../img/pg_end.png') .5rem center no-repeat;
}

.pg_next {
    font-size: 0;
    background: url('../../img/pg_next.png') .6875rem center no-repeat;
}

.pg_current {
    margin: 0 .25rem;
    background: #f0efed;
    color: #cb4432 !important;
    border: .0625rem solid #e5e5e5;
}


.litc2 {
    width: 22.5rem;
}

.space1 {
    display: inline-block;
    width: .625rem;
}

.space2 {
    display: inline-block;
    width: 1.125rem;
}

/* //color:#cfcfcf; */
.info_no_txt,
.none_info,
.none_txt {
    display: block;
    text-align: center;
    color: #cfcfcf;
    height: 2.1875rem;
    line-height: 2.1875rem;
    font-size: 2.8125rem;
    margin: 1.875rem 0 2.5rem 0;
}

.input_id_span {
    width: 1.125rem;
    display: inline-block !important;
    text-align: center;
    vertical-align: top;
}


.blank_for_bottom_btn {
    height: 6.875rem;
    clear: both
}

#btn01 {
    position: absolute;
    bottom: 6.875rem;
    width: 100%;
    height: 5.625rem;
    line-height: 5.625rem;
    font-size: 2.625rem;
    font-weight: 700;
    color: #fff;
    background: url(' ../../img/btn_Bg2.png') no-repeat right bottom #cb4432;
    display: block;
    border: 0;
}

.btn01 {
    font-family: 'NotoSans';
    font-weight: 700;
    display: block;
    width: 35.625rem;
    height: 10rem;
    font-size: 4.0625rem;
    border: 0;
    text-align: center;
    color: #fff;
    background: url(' ../../img/btn_Bg.png') right bottom no-repeat #fff;
}

.btn02 {
    font-family: 'NotoSans';
    font-weight: 700;
    display: block;
    width: 45rem;
    height: 6.875rem;
    font-size: 2.8125rem;
    border: 0;
    text-align: center;
    color: #fff;
    background: url(' ../../img/btn_Bg2.png') no-repeat right bottom #0D4FA1;
}

.btn03 {
    position: fixed;
    bottom: 0;
    font-family: 'NotoSans';
    font-weight: 700;
    display: block;
    width: 45rem;
    height: 6.875rem;
    font-size: 2.8125rem;
    border: 0;
    text-align: center;
    color: #fff;
    background: url(' ../img/btn_Bg2.png') no-repeat right bottom #0D4FA1;
}

.btn04 {
    font-family: 'NotoSans';
    font-weight: 700;
    display: block;
    width: 27.5rem;
    height: 5.625rem;
    font-size: 2.8125rem;
    border: 0;
    text-align: center;
    color: #fff;
    background: url(' ../../img/btn_Bg2.png') no-repeat right bottom #0D4FA1;
    margin: 1.875rem 0 0 13.75rem;
}

.btn02_duplicate {
    font-family: 'NotoSans';
    font-weight: 500 !important;
    float: right;
    display: block;
    width: 12.5rem !important;
    padding: 0 !important;
    height: 3.5rem !important;
    font-size: 2.625rem !important;
    border: 0 !important;
    text-align: center;
    color: #fff !important;
    background: #414242;
}

.btn05 {
    width: 8.125rem;
    height: 3.375rem;
    border-radius: 0;
    line-height: 2.5rem;
    color: #fff;
    font-weight: 500;
    background: #717171;
    border: none;
    cursor: pointer;
    position: absolute;
    font-size: 2.1875rem;
    top: 4.375rem;
    right: 1.875rem;
    -webkit-appearance: none;
}

.btnv2 {
    width: 15.625rem;
    height: 4.0625rem;
    border-radius: 1.875rem;
    line-height: 2.5rem;
    color: #fff;
    font-weight: 500;
    background: #cfcfcf;
    border: none;
    cursor: pointer;
    font-size: 1.375rem;
    top: 4.375rem;
    right: 1.875rem;
    -webkit-appearance: none;
}




.btn-search {
    width: 100%;
    float: left;
}

/* 20240719 modify [s] */
.home__contact.btn {
    display: inline-flex;
    width: 7.5rem;
    height: 2.5rem;
    min-height: 2.5rem;
    /* border: .125rem solid #0000FF !important; background: #000000; */
    font-size: 1rem;
    font-weight: 600;
    line-height: 2.5rem;
    /* margin: 0 .125rem 0 .125rem; */
    margin: 10px 20px 0 0px;
    padding: 0;
    color: #fff !important;
    border-radius: 2.1875rem;
    text-align: center;
    left: 0 ! important;
    justify-content: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.home__contact.btn:before {
    /* background: #0000CD !important; color: #FFFFFF !important; */
    background: #f5f5f5 !important;
    color: #090909 !important;
}

.home__contact.btn:hover {
    /* color: #FFFFFF !important; border: .125rem solid #0049C4 ! important; */
    color: #090909 !important;
}

/* 20240719 modify [e] */

/* BUTTON Animation */

.btn::before {
    content: "";
    position: absolute;
    /*
 top: 0; */
    height: 100%;
    width: 100%;
    background: var(--color-blue);
    z-index: -1;
    -webkit-transition: 0.2s linear;
    transition: 0.2s linear;
    -webkit-clip-path: circle(0% at 0% 5%);
    clip-path: circle(0% at 0% 5%);
}

.btn:hover::before {
    -webkit-clip-path: circle(100%);
    clip-path: circle(100%);
}

.btn.active:hover::before {
    -webkit-clip-path: circle(100%);
    clip-path: circle(100%);
}

.btn.active:hover {
    color: var(--color-white) !important;
}

.btn:hover {
    color: var(--color-white) !important;
}

@-webkit-keyframes fadeIn {
    0% {
        -webkit-transform: translateY(48px);
        transform: translateY(48px);
        opacity: 0;
    }
}


/* BUTTON 이동 버튼 */

/* 20240719 modify [e] */
.btn-reg {
    /* width: 3.75rem; height: 1rem; float: right; text-align: center; background: #00CED1; border: 0rem solid #e5e5e5; border-radius: 1.25rem; font-weight: 100; line-height: 16px !important; */
    width: 1.25rem;
    height: 1.25rem;
}

.btn-reg>a {
    color: #FFFFFF;
    /* line-height:0; */
    font-size: 12px;
    width: 100%;
    height: 100%;
    display: inline-block;
}

.btn-search {
    width: 100%;
    height: 1.625rem;
    float: right;
    text-align: center;
    background: #191970;
    border: .0625rem solid #0000FF;
    border-radius: .3125rem;
    font-weight: 100;
    line-height: 24px !important;
}

.btn-search>a {
    color: #e5e5e5;
    /* line-height:0; */
    font-size: 14.4px;
    width: 100%;
    height: 100%;
    display: inline-block;
}


.logo-text>h3:hover {
    color: #0060FF !important;
}


/****************** MODAL Detail (상세) 표현 팝업 ***********************************/
#modal-dtl {
    width: 37.5rem;
    height: 34.375rem;
    z-index: 1000;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-left: -18.75rem;
    margin-top: -11.25rem;
    opacity: 1;
    background: #181d26;
    border-radius: .625rem;
    /* opacity: 0.7; */
    border: .1875rem solid #00588A;
    display: none;
}

.otFloatingRoundedCorner {
    display: inline-block;
    position: relative;
    z-index: 2147483645;
    background-color: #fff;
    width: 96%;
    max-width: 95%;
    height: 100%;
    max-height: 95%;
    border-radius: .1563rem;
    top: 1em;
    left: 1em;
    font-size: 16px;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: 0 0 1.125rem rgba(0, 0, 0, .2);
    background: #181d26;
    opacity: 0.8;
}

.banner-header {
    display: inline-block;
    position: relative;
    /* z-index: 2147483645; */
    background-color: #fff;
    width: 100%;
    max-width: 100%;
    height: 8%;
    max-height: 10%;
    border-radius: .1563rem;
    font-size: 16px;
    overflow-x: hidden;
    overflow-y: hidden;
    box-shadow: 0 0 1.125rem rgba(0, 0, 0, .2);
    background: #181d26;
    opacity: 1.0;
    text-align: right;
}

.banner-header .banner-actions-container {
    width: 100% !important;
    height: 1.875rem;
    display: inline-block;
}

.ot-sdk-container {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 98%;
    margin: 0 auto;
    padding: 0 1.25rem;
    box-sizing: border-box;
}

.ot-sdk-row {
    display: inline-block;
    margin: 0;
    height: 100%;
    max-width: none;
    display: block;
}

.ot-sdk-twelve ot-sdk-columns {
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    display: initial;
}

#onetrust-group-container {
    height: 93%;
    orverflow: hidden;
}

#onetrust-policy-title {
    display: inline-block;
    padding: 0 !important;
    margin-bottom: .25rem !important;
    line-height: 1.30769231 !important;
    width: 100%;
    height: 5%;
    border-bottom: .0625rem solid #0060FF;
    color: #e5e5e5;
    float: left;
}

#onetrust-policy-title>input {
    display: inline-block;
    padding: 0 0 0 .3125rem !important;
    margin-bottom: .5rem !important;
    line-height: 1.30769231 !important;
    width: 60%;
    height: 100%;
    font-size: 13.6px;
    border: 0rem solid #000000;
    border-bottom: .0625rem solid #0060FF;
    border-left: .25rem dotted #0060FF;
    color: #e5e5e5;
    outline: none;
    float: left;
}

#onetrust-policy-title>select {
    display: inline-block;
    padding: 0 0 0 .3125rem !important;
    margin-bottom: .5rem !important;
    line-height: 1.30769231 !important;
    width: 60%;
    height: 100%;
    font-size: 13.6px;
    border: 0rem solid #000000;
    border-bottom: .0625rem solid #0060FF;
    border-left: .25rem dotted #0060FF;
    color: #e5e5e5;
    outline: none;
    float: left;
    background: #181d26;
}

#onetrust-policy-title>p {
    display: inline-block;
    padding: 0 0 0 .3125rem !important;
    margin-bottom: .5rem !important;
    line-height: 13.6px !important;
    width: 30%;
    height: 100%;
    font-size: 16px;
    color: #a5a5a5;
    outline: none;
    float: left;
}

#onetrust-policy-title>input:focus {
    background: #000000;
}

#onetrust-policy-text {
    display: inline-block;
    padding: 0 !important;
    margin-bottom: .5rem !important;
    line-height: 1.30769231 !important;
    width: 100%;
    height: 95%;
    max-height: 21.875rem;
    color: #a5a5a5;
    overflow-x: hidden;
}

#onetrust-policy-text>textarea {
    display: inline-block;
    padding: .3125rem 0 0 .9375rem !important;
    margin-bottom: .5rem !important;
    line-height: 1.30769231 !important;
    width: 100%;
    height: 90%;
    font-size: 13.6px;
    overflow-x: hidden;
    border: 0rem solid #000000;
    border-bottom: .0625rem solid #0060FF;
    /* border-left: .0625rem solid #0060FF; */
    color: #e5e5e5;
    outline: none;
}

#onetrust-policy-text>textarea:focus {
    background: #000000;
}

#onetrust-policy-text>pre {
    width: 100%;
    max-width: 100%;
    height: 95%;
    font-size: 14.4px;
    font-weight: 500;
    display: inline-block;
    float: left;
    text-align: left;
    margin: .9375rem 0 0 0;
    padding: 0;
    overflow: auto;
    color: #f5f5f5;
}

.ot-sdk-twelve.ot-sdk-columns.has-reject-all-button {
    margin-right: 4.375rem;
    margin-top: .5rem;
}

#onetrust-button-group-parent {
    top: .3125rem;
    position: relative;
}

#onetrust-banner-sdk #onetrust-button-group button {
    width: 15% !important;
    height: 1.875rem;
    text-decoration: none !important;
    border-radius: .375rem !important;
    border: .0625rem solid transparent !important;
    border-color: #90C4F9;
    line-height: 1.4;
    background-color: #90C4F9;
    margin: 0 !important;
    color: #FFFFFF;
    padding: .125rem .625rem;
    font-size: .82em;
    font-weight: 600;
    letter-spacing: .05em;
    white-space: normal;
    word-break: break-word;
    word-wrap: break-word;
    outline-offset: .0625rem;
    font-family: inherit;
    position: absolute;
    display: inline-block;
}

#onetrust-banner-sdk #onetrust-button-group button:hover {
    background: #4682B4;
}

.banner-header .banner-actions-container>button {
    width: 15% !important;
    height: 1.625rem;
    text-decoration: none !important;
    border-radius: .375rem !important;
    border: .0625rem solid transparent !important;
    border-color: #90C4F9;
    line-height: 1.4;
    background-color: #90C4F9;
    margin: 0 !important;
    color: #FFFFFF;
    padding: .125rem .625rem;
    font-size: .82em;
    font-weight: 600;
    letter-spacing: .05em;
    white-space: normal;
    word-break: break-word;
    word-wrap: break-word;
    outline-offset: .0625rem;
    font-family: inherit;
    position: relative;
    display: inline-block;
}

.banner-header .banner-actions-container>button:hover {
    background: #4682B4 !important;
}

.banner-header .banner-actions-container>p {
    color: #E5E5E5 !important;
    border-left: .3125rem solid blue;
    padding-left: .9375rem;
    left: 0;
}



/* 20240719 css add [s] - ley */

* {
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

.bodyBg {
    background: #0E0E0E;
}


.navbar__menu {
    /* width: auto; height: 3.75rem; position: absolute; text-align: right; display: block; margin-left: 15.625rem; z-index: 1000; display: flex; align-items: center; */

    display: block;
    margin-left: 250px;
    margin-top: 0;
    height: 100%;
}


.navbarWrap {
    background: #181d26;
    height: 3.75rem;
    /* border-bottom: .0625rem solid #0049C4; */
    padding: 0 !important;
}

.navbarWrap .navbar__logoimg {
    width: 4.6875rem;
    margin-left: .3125rem;
    line-height: 0;
    padding: 0;
    margin-top: .8125rem;
}

.navbarWrap .navbar__logo__tit {
    color: #e5e5e5;
    font-weight: 600;
    margin-top: 0rem;
    margin-left: .3125rem;
    font-size: 1.125rem;
    padding: 0;
    line-height: 150%;
    letter-spacing: -0.0313rem;
    text-align: left;
    word-break: break-all;
    /* font-family: &#39; NotoKrR&#39; , &#39; 나눔 고딕&#39; , NotoKrR Gothic, &#39; 맑은 고딕&#39; , Malgun Gothic, &#39; 돋움&#39; , dotum, Helvetica, sans-serif; } */
}

.navbar-wrap {
    position: absolute;
    height: 2.5rem;
    float: left;
    display: block;
    margin-left: 15.625rem;
    margin-top: 0rem;
}

.home__contact.btn.btn-purple {
    background: #9f91c6;
}

.home__contact.btn.btn-sky {
    background: #7699bd;
}

.home__contact.btn.btn-bluePurple {
    background: #7680be;
}

.home__contact.btn.btn-tea {
    background: #67a590;
}

.txt-date {
    left: 0rem;
    width: 5.625rem;
    text-align: center;
}

.txt-tit {
    left: 5.625rem;
    width: 21.875rem;
    text-align: left;
    color: #e5e5e5;
}

.ag-center-cols-container.tb_inner {
    width: 100%;
    height: auto;
}

.home_talk3 .title.tt-wrap,
.tt-btn-box .title.tt-wrap {
    float: left;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
}

.home_talk3 .title.tt-wrap.tt-wrap-tit-rt {
    width: 49.0%;
    float: left;
    margin-left: 1.75rem;
}

#home h3.title.tt-wrap.tt-wrap-100p {
    width: 100% !important;
}

.btn-reg.lineHt-0 {
    line-height: 0;
}

.tt-btn-box .title .btn.btn-space {
    float: right;
    margin-right: .625rem;
}

.tt-btn-box .title .btn.btn-space-type02 {
    /* width:21.875rem; */
    float: right;
    margin-right: .625rem;
    margin-top: 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tt-btn-box .title .btn.btn-space-type02 .date-time-search {
    float: right;
    font-size: .8125rem;
    /* margin-top:.3125rem; */
    height: 1.5625rem;
    padding-right: 1.25rem;
    color: #aeaeae;
    line-height: 1.5625rem;
}

#allmenu .al_1dul .al_1dul_lnbTop {
    width: 100%;
    height: .0625rem;
    background: #3C3C4A;
}

.top_menu-area {
    width: 20%;
    min-width: 300px;
    float: right;
    margin-top: -60px;
}

.top_tit .gnb_btn_rt {
    width: 200px;
    padding: 0 10px 0 0;
    color: #c5c5c5;
    float: right;
    margin-left: 130px;
    margin-top: 25px;
    font-size: 0.8rem;
    font-weight: 400;
    text-align: right;
}

/* 20240719 css add - ley */