
/* ag-grid 사용자 정의 css */

/* ag-grid theme-quartz 기본정의  */
.ag-theme-quartz,
.ag-theme-quartz-dark {
    --ag-header-height: 40px;  /* ag-grid  Header 높이  */

    --ag-header-foreground-color: white;  /* ag-grid Header 글씨 색상  */
    --ag-header-background-color: black;  /* ag-grid Header 배경 색상  */
    --ag-header-cell-hover-background-color: rgb(146, 161, 200);
    --ag-header-cell-moving-background-color: rgb(38, 103, 14);

    --ag-row-height: 40px;   /* ag-grid Row 높이  */
    --ag-font-size: 17px;    /* ag-grid Row 글씨크기  */
}

/* ag-grid header label 기본정의 */
.ag-header-cell-label {
    font-size: 17px;                      /* ag-grid Header 글씨크기  */
    justify-content: center !important;   /* ag-grid Header 공용정렬  */
    text-overflow: clip;
    overflow: visible;
    white-space: normal;
}

/* ag-grid Row item 센터처리  */
.ag-row-user-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ag-grid.min.css : 헤더 검색필터 내 폰트색상 변경 */
.ag-filter-condition-operator {
    height:17px; /* SJW */
    color:#fafafa;
}

/* 화면 title */
.ag-ui-sub-title {
    margin-bottom: 4px;
    border-left: 10px solid #688FF4;
    padding: 0.3em;
    border-bottom: 3px solid #688FF4;
    font-weight: bold;
    font-size:larger;
}

/*.ag-theme-quartz .ag-header,*/
/*.ag-theme-quartz-dark .ag-header {*/
/*}*/

/*.ag-theme-quartz .ag-header-cell,*/
/*.ag-theme-quartz-dark .ag-header-cell {*/
/*}*/